<h3>Hello <strong><%= @user.username %></strong>!</h3>

<h3> Retrouve ici les évènements que tu as crées.</h3>

	<table class="table table-striped">
	  <tr>
	    <th>Nom de l'event</th>
	    <th>Date de l'event</th>
	    <th>Lieu de l'event</th>
	    <th>Créateur de l'event</th>
	    <th>Lien vers l'event</th>
	  </tr>
	 
	  <% @events_created.each do |event|%> 
	    <tr>
	      <td><%= event.name %></td>
	      <td><%= event.date.strftime("%d-%m-%Y") %></td>
	      <td><%= event.place %></td>
	      <td>C'est toi!</td>
	      <td><%= link_to "Voir l'événement", event_path(event) %></td>
	    </tr>
	  <% end %>
	</table>

<h3>Retrouve ici les évènements auxquels tu participes.</h3>

	<table class="table table-striped">
	  <tr>
	    <th>Nom de l'event</th>
	    <th>Date de l'event</th>
	    <th>Lieu de l'event</th>
	    <th>Créateur de l'event</th>
	    <th>Lien vers l'event</th>
	  </tr>
	 
	  <% @events_attended.each do |event|%> 
	    <tr>
	      <td><%= event.name %></td>
	      <td><%= event.date.strftime("%d-%m-%Y") %></td>
	      <td><%= event.place %></td>
	      <td><%= event.creator.username %></td>
	      <td><%= link_to "Voir l'événement", event_path(event) %></td>
	    </tr>
	  <% end %>
	</table>