<h3> Hello <strong><%= current_user.username %></strong>! </h3>
<h3> Ici, tu peux créer un nouvel évènement.</h3>


  <div class = row style="text-align: center;">

    <%= form_for @event do |f| %>

        <div class = "form-group">
          Indique ici le nom de ton évènement:<br />
          <%= f.text_field :name %><br />
        </div>

        <div class = "form-group">
          Indique ici la description de ton évènement:<br />
          <%= f.text_area :description %><br />
        </div>

        <div class = "form-group">
          Indique ici le prix de ton évènement en centimes (min. 1€):<br />
          <%= f.number_field :price, min:100 %><br />
        </div>

        <div class = "form-group">
          Indique ici le lieu de ton évènement:<br />
          <%= f.text_field :place %><br />
        </div>

        <div class = "form-group">
          Indique ici la date de ton évènement:<br />
          <%= f.date_field :date %><br />
        </div>

        <div class = "form-group">
          <button class= "btn btn-default">Créer mon évènement!</button> 
        </div>

    <% end %>

  </div>

