  <div class = row style="margin-left: 30px;">

    <%= form_for @event do |f| %>

        <div class = "form-group">
          Indique ici le nom de ton évènement:<br />
          <%= f.text_field :name %><br />
        </div>

        <div class = "form-group">
          Indique ici la description de ton évènement:<br />
          <%= f.text_area :description %><br />
        </div>

        <div class = "form-group">
          Indique ici le prix de ton évènement pour chaque participant:<br />
          <%= f.number_field :price %><br />
        </div>

        <div class = "form-group">
          Indique ici le lieu de ton évènement:<br />
          <%= f.text_field :place %><br />
        </div>

        <div class = "form-group">
          Indique ici la date de ton évènement:<br />
          <%= f.date_field :date %><br />
        </div>

        <div class = "form-group">
          <button class= "btn btn-default">Créer mon évènement!</button> 
        </div>

    <% end %>

  </div>

