<nav class="navbar navbar-light"> 
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="/">Eventbrite 2.0</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Créer un nouvel évènement", new_event_path %></li>
        <li class="nav-item">
          <%= link_to "Index de tous les évènements", events_path %></li>
        <li class="nav-item">
          <%= link_to "Mon profil", user_path(current_user) %></li>
        <li class="nav-item">
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign in", new_user_session_path %></li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path %></li>
      <% end %>
    </ul>

  </div>
</nav>

